input {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 5px;
  background-color: #f0f0f0;
}

.form-container {
  position: fixed;
  z-index: 10;
  top: 10%;
  left: 10%;
  right: 10%;
  bottom: 10%;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background-color: white;
  transform: translateY(-100%); /* Empieza desde arriba del todo */
  transition: transform .5s ease-in-out; /* Aplica una transición suave */
  display: none; /* Por defecto no se muestra */
}

.form-container.show {
  transform: translateY(0); /* Termina en su posición normal */
  display: block; /* Se muestra */
}

.form-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  gap: 5px;
}

.label {
  grid-column: span 3;
  text-align: center;
}

.btn {
  grid-column: span 3;
  text-align: center;
  float: right;
}

