<div class="main-content" id="table-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{title}}</h4>
                        <p class="card-category"> PowerGym </p>
                    </div>
                    <div class="card-body" *ngIf="!isChildLoaded">
                        <div class="table-responsive">
                            <input type="text" [(ngModel)]="filter" placeholder="Buscar...">
                            <button type="button" (click)="showNewClientForm()" class="btn btn-primary">Agregar
                            </button>
                            <br>
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    Ciudad
                                </th>
                                <th>
                                    Activo
                                </th>
                                <th style="text-align: center">
                                    Acciones
                                </th>
                                </thead>

                                <tbody>
                                <tr *ngFor="let client of clients | filter: filter | paginate: { itemsPerPage: 10, currentPage:p}">
                                    <td>
                                        {{client.firstName}}
                                    </td>
                                    <td>
                                        {{client.lastName}}
                                    </td>
                                    <td>
                                        {{client.city}}
                                    </td>
                                    <td>
                                        {{client.isActive ? 'Si' : 'No'}}
                                    </td>
                                    <td style="padding: 2rem">
                                        <!--                                        <button type="button" class="btn btn-danger"-->
                                        <!--                                                (click)="deleteClient(client.clientId)">Eliminar-->
                                        <!--                                        </button>-->
                                        <button type="button" class="btn btn-warning" (click)="seeClient(client)">
                                            Ver
                                        </button>
                                        <button type="button" id="addPlanToClientButton" class="btn btn-primary"
                                                (click)="showNewAddPlanToClientForm(client)">Plan
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </table>
                        </div>
                    </div>
                    <router-outlet *ngIf="isChildLoaded" class="card-body" (activate)="isChildLoaded = true"
                                   (deactivate)="isChildLoaded = false"></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="form-container" id="showClientTable" [class.show]="showForm">
    <h2>{{formTitle}}</h2>
    <button *ngIf="isSeeClientActive" type="button" style="float: right" class="btn btn-danger"
            (click)="cancel()">Cerrar
    </button>
    <button *ngIf="isSeeClientActive" type="button" style="float: right" class="btn btn-warning"
            (click)="onLoadRecord()" routerLink="/clientes/historial/{{clientId}}">Historial
    </button>

    <form [formGroup]="newClientForm" (ngSubmit)="addClient()">
        <div class="form-row">
            <div class="col-4">
                <label for="firstName">Nombre</label>
                <input type="text" formControlName="firstName" id="firstName">
                <span *ngIf="newClientForm.controls['firstName'].invalid && newClientForm.controls['firstName'].touched">El nombre es requerido</span>
            </div>
            <div class="col-4">
                <label for="lastName">Apellido</label>
                <input type="text" formControlName="lastName" id="lastName">
                <span *ngIf="newClientForm.controls['lastName'].invalid && newClientForm.controls['lastName'].touched">El apellido es requerido</span>
            </div>
            <div class="col-4">
                <label for="email">Email</label>
                <input type="email" formControlName="email" id="email">
                <span *ngIf="newClientForm.controls['email'].invalid && newClientForm.controls['email'].touched">El email es requerido</span>
                <span *ngIf="newClientForm.controls['email'].errors?.email && newClientForm.controls['email'].touched">El email no es válido</span>
            </div>
            <div class="col-4">
                <label for="phoneNumber">Teléfono</label>
                <input type="text" formControlName="phoneNumber" id="phoneNumber">
                <span *ngIf="newClientForm.controls['phoneNumber'].invalid && newClientForm.controls['phoneNumber'].touched">El teléfono es requerido</span>
            </div>
            <div class="col-4">
                <label for="emergencyPhoneNumber">Teléfono de emergencia</label>
                <input type="text" formControlName="emergencyPhoneNumber" id="emergencyPhoneNumber">
                <span *ngIf="newClientForm.controls['emergencyPhoneNumber'].invalid && newClientForm.controls['emergencyPhoneNumber'].touched">El teléfono de emergencia es requerido</span>
            </div>
            <div class="col-4">
                <label for="birthday">Fecha de nacimiento</label>
                <input type="date" formControlName="birthday" id="birthday">
                <span *ngIf="newClientForm.controls['birthday'].invalid && newClientForm.controls['birthday'].touched">La fecha de nacimiento es requerida</span>
            </div>
            <div class="col-4">
                <label>Género</label>
                <br>
                <input type="radio" formControlName="gender" id="genderM" [value]="Gender.M"> Masculino
                <br>
                <input type="radio" formControlName="gender" id="genderF" [value]="Gender.F"> Femenino
                <br>
                <input type="radio" formControlName="gender" id="genderO" [value]="Gender.O"> Otro
            </div>

            <div class="col-4">
                <label for="streetAddress">Calle</label>
                <input type="text" formControlName="streetAddress" id="streetAddress">
                <span *ngIf="newClientForm.controls['streetAddress'].invalid && newClientForm.controls['streetAddress'].touched">La dirección es requerida</span>
            </div>
            <div class="col-4">
                <label for="addressNumber">Número</label>
                <input type="text" formControlName="addressNumber" id="addressNumber">
                <span *ngIf="newClientForm.controls['addressNumber'].invalid && newClientForm.controls['addressNumber'].touched">El número de dirección es requerido</span>
            </div>
            <div class="col-4">
                <label for="colony">Colonia</label>
                <input type="text" formControlName="colony" id="colony">
                <span *ngIf="newClientForm.controls['colony'].invalid && newClientForm.controls['colony'].touched">La colonia es requerida</span>
            </div>
            <div class="col-4">
                <label for="city">Ciudad</label>
                <input type="text" formControlName="city" id="city">
                <span *ngIf="newClientForm.controls['city'].invalid && newClientForm.controls['city'].touched">La ciudad es requerida</span>
            </div>
            <div class="col-4">
                <label for="state">Estado</label>
                <input type="text" formControlName="state" id="state">
                <span *ngIf="newClientForm.controls['state'].invalid && newClientForm.controls['state'].touched">El estado es requerido</span>
            </div>
            <div class="col-4">
                <label for="zipCode">Código postal</label>
                <input type="text" formControlName="zipCode" id="zipCode">
                <span *ngIf="newClientForm.controls['zipCode'].invalid && newClientForm.controls['zipCode'].touched">El código postal es requerido</span>
            </div>
            <div *ngIf="isSeeClientActive" class="col-4">
                <label for="isClientActive">Estado del plan</label>
                <input disabled type="text" id="isClientActive"
                       placeholder={{isClientPlanActiveTxt}}>
            </div>
            <br>
            <div class="">
                <button *ngIf="!isSeeClientActive" type="button" class="btn btn-primary" (click)="addClient()"
                        [disabled]="newClientForm.invalid">Agregar
                </button>
                <button *ngIf="!isSeeClientActive" type="button" class="btn btn-danger" (click)="cancel()">Cancelar
                </button>

            </div>
        </div>
    </form>
</div>
<div class="form-container" id="addPlanToClientForm" [class.show]="showAddPlanToClientForm">
    <h2>{{addPlanToClientTitle}}</h2>

    <form [formGroup]="newAddPlanToClientForm" (ngSubmit)="addPlanToClient()">
        <div class="form-row">
            <div class="col-8">
                <mat-form-field appearance="fill">
                    <mat-label>Selecciona el cliente</mat-label>
                    <br>
                    <mat-select formControlName="client" [style]="getSelectClientStyle()">
                        <mat-option [value]="clientPlan">{{addPlanToClientClientOptions}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-8">
                <mat-form-field appearance="fill">
                    <mat-label>Selecciona el plan</mat-label>
                    <br>
                    <mat-select formControlName="plan" [style]="getSelectPlanStyle()">
                        <mat-option *ngFor="let plan of plans" [value]="plan">{{plan.numDays}} días
                            , {{plan.price}}$
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-8">
                <mat-form-field appearance="fill">
                    <mat-label>Selecciona el usuario</mat-label>
                    <br>
                    <mat-select formControlName="user" [style]="getSelectUserStyle()">
                        <mat-option *ngFor="let user of users" [value]="user">{{user.email}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="">
            <button type="submit" class="btn btn-primary"
                    [disabled]="newAddPlanToClientForm.invalid">Agregar
            </button>
            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar
            </button>
        </div>
    </form>
</div>

