<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Clientes</h4>
                        <p class="card-category"> PowerGym </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <input type="text" [(ngModel)]="filter" placeholder="Buscar...">
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Nombre
                                </th>
                                <th>
                                    Apellido
                                </th>
                                <th>
                                    Ciudad
                                </th>
                                <th>
                                    ¿Activo?
                                </th>
                                </thead>

                                <tbody>
                                <tr *ngFor="let client of clients | filter: filter | paginate: { itemsPerPage: 10, currentPage:p}">
                                    <td>
                                        {{client.firstName}}
                                    </td>
                                    <td>
                                        {{client.lastName}}
                                    </td>
                                    <td>
                                        {{client.city}}
                                    </td>
                                    <td>
                                        {{this.isClientActive}}
                                    </td>
                                </tr>
                                </tbody>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>