<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{title}}</h4>
                        <p class="card-category"> PowerGym </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <input type="text" [(ngModel)]="filter" placeholder="Buscar por fecha">
                            <button type="button" (click)="showNewEntryForm()" class="btn btn-primary">Registrar
                                entrada
                            </button>
                            <br>
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Cliente
                                </th>
                                <th>
                                    Fecha de entrada
                                </th>
                                <th style="text-align: center">
                                    Acciones
                                </th>
                                </thead>

                                <tbody>
                                <tr *ngFor="let entry of entries | filter: filter | paginate: { itemsPerPage: 10, currentPage:p}">
                                    <td>
                                        {{entry.client.firstName}} {{entry.client.lastName}}
                                    </td>
                                    <td>
                                        {{entry.entryDate | date: 'EEEE dd/MM/yyyy HH:mm:ss'}}
                                    </td>
                                    <td>
                                        <button type="button" class="btn btn-danger"
                                                (click)="deleteEntry(entry.entryId)">
                                            Eliminar
                                        </button>
                                    </td>
                                </tr>
                                </tbody>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-container" id="addPlanToClientForm" [class.show]="showForm">
    <h2>{{newEntryTitle}}</h2>

    <form [formGroup]="newEntryFrom" (ngSubmit)="addEntry()">
        <div class="form-row">
            <!--            <div class="col-8">-->
            <!--                <mat-form-field appearance="fill">-->
            <!--                    <mat-label>Tu nombre es</mat-label>-->
            <!--                    <br>-->
            <!--                    <mat-select formControlName="client" [style]="getSelectClientStyle()">-->
            <!--                        <mat-option *ngFor="let client of clients" [value]="client">-->
            <!--                            {{client.firstName}}-->
            <!--                        </mat-option>-->
            <!--                    </mat-select>-->
            <!--                </mat-form-field>-->
            <!--            </div>-->

        </div>
        <div class="">
            <button type="submit" class="btn btn-primary"
                    [disabled]="newEntryFrom.invalid">Agregar
            </button>
            <button type="button" class="btn btn-danger" (click)="cancel()">Cancelar
            </button>
        </div>
    </form>
</div>
