<div class="main-content" id="entries-container" [class.show]="showEntries">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">{{title}}</h4>
                        <p class="card-category"> PowerGym </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <input type="text" [(ngModel)]="searchTerms" placeholder="Buscar por fecha">
                            <button type="button" (click)="showNewEntryTable()" class="btn btn-primary">Registrar
                                entrada
                            </button>
                            <br>
                            <table class="table">
                                <thead class=" text-primary">
                                <th>
                                    Cliente
                                </th>
                                <th>
                                    Fecha de entrada
                                </th>
<!--                                <th style="text-align: center">-->
<!--                                    Acciones-->
<!--                                </th>-->
                                </thead>

                                <tbody>
                                <tr *ngFor="let entry of entries | filter: searchTerms | paginate: { itemsPerPage: 10, currentPage:p}">
                                    <td>
                                        {{entry.client.firstName}} {{entry.client.lastName}}
                                    </td>
                                    <td>
                                        {{entry.entryDate | date: 'EEEE dd/MM/yyyy HH:mm:ss'}}
                                    </td>
<!--                                    <td>-->
<!--                                        <button type="button" class="btn btn-danger"-->
<!--                                                (click)="deleteEntry(entry.entryId)">-->
<!--                                            Eliminar-->
<!--                                        </button>-->
<!--                                    </td>-->
                                </tr>
                                </tbody>
                                <pagination-controls (pageChange)="p = $event"></pagination-controls>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="form-container" id="addPlanToClientForm" [class.show]="showForm" style="overflow: auto;">
    <h2>{{newEntryTitle}}</h2>
    <div class="card-body" *ngIf="showForm">
        <div class="table-responsive">
            <input type="text" [(ngModel)]="filter" placeholder="Buscar...">
            <button type="button" (click)="cancel()" class="btn btn-danger">Volver</button>
                <table class="table">
                    <thead class=" text-primary">
                    <th>
                        Nombre
                    </th>
                    <th>
                        Apellido
                    </th>
                    <th>
                        Activo
                    </th>
                    <th style="text-align: center">
                        Entrada
                    </th>
                    </thead>

                    <tbody>
                    <tr *ngFor="let client of clients | filter: filter | paginate: { itemsPerPage: 10, currentPage:p}">
                        <td>
                            {{client.firstName}}
                        </td>
                        <td>
                            {{client.lastName}}
                        </td>
                        <td>
                            {{client.active ? 'Si' : 'No'}}
                        </td>
                        <td style="padding: 2rem">
                            <button type="button" id="addPlanToClientButton" class="btn btn-primary"
                                    [disabled]="!client.active" (click)="registerEntry(client.clientId)">Registrar
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </table>
        </div>
    </div>
</div>
